{% extends 'base.html' %} 
{% load static %} 
{% block title %}Te loreparo{%endblock %} 
{% block header %}Todas sus reparaciones{% endblock %} 
{% block content %}
<div class="card card-solid">
  <div class="card-header ui-sortable-handle">
    <h4 class="card-title">Sus reparaciones, {{ user.first_name }}.</h4>
    <div class="card-tools">
      <div class="pagination pagination-sm">
        {% if reparaciones %} {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
          >«</a
        >
        {% endif %}

        <span class="current page-link">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a
          href="?page={{ page_obj.next_page_number }}"
          style="text-decoration: none"
          class="page-link"
          >»</a
        >
        {% endif %} {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body pb-0">
    <div class="row d-flex align-items-stretch">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Matricula</th>
                    {% if  user.is_client %}<th>Mecanico</th>{% endif %}
                    {% if  user.is_mechanic %}<th>Cliente</th>{% endif %}
                    <th>Fecha solicitud</th>
                    <th>Fecha arreglo</th>
                    {% if user.is_mechanic %}
                    <th>Informe</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for reparacion in reparaciones %}
                {% if reparacion.Arreglado%}
                <tr>
                    <td>{{reparacion.Coche}}</td>
                    {% if  user.is_client %}<td>{{reparacion.Mecanico}}</td>{% endif %}
                    {% if  user.is_mechanic %}<td>{{reparacion.Dueno}}</td>{% endif %}
                    <td>{{reparacion.FechaSolicitud}}</td>
                    <td>{{reparacion.FechaArreglo}}</td>
                    <td>{% if user.is_mechanic %}<a href="{% url 'reparations:report' reparacion.id %}" class="btn btn-warning" target="_blank">Informe</a>{% endif %}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{reparacion.Coche}}</td>
                    {% if  user.is_client %}<td>Reparación no realizada todavía</td>{% endif %}
                    {% if  user.is_mechanic %}<td>Reparación no realizada todavía</td>{% endif %}
                    <td>{{reparacion.FechaSolicitud}}</td>
                    <td>{{reparacion.FechaArreglo}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
      {% if not reparaciones %}
      <p>No has reparado ningún coche hasta el momento.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
