{% extends 'base.html' %}
{% load static %}
{% block title %}Te lo reparo{% endblock %}
{% block header %}Todos tus coches{% endblock %}
{% block content %}
<div class="card card-solid">
    <div class="card-header">
        <h4>Modifica el coche {{ coche.Matricula }}</h4>
    </div>
    <div class="card-body pb-0">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
    </div><div class="card-footer">
    <a href="{% url 'cars:listacoches' %}" class="btn btn-default">Volver</a>
    <input type="Submit" value="Actualizar" class="btn btn-primary">
  </div>
  </form>
</div>
{% endblock %}