{% extends 'base.html' %} 
{% load static %} 
{% block title %}Te lo reparo{% endblock %} 
{% block header %}Borrado de coche.{% endblock %} 
{% block content %}
<div class="card card-solid">
  <div class="card-body pb-0">
    ¿Estás seguro de querer borrar "{{ object }}"?
  </div>
  <div class="card-footer">
    <form method="post">
      {% csrf_token %}
      <a href="{% url 'notices:listanoticias' %}" class="btn btn-default"
        >Cancelar</a
      >
      <input type="submit" value="Confirmar" class="btn btn-success" />
    </form>
  </div>
</div>
{% endblock %}
