{% extends 'base.html' %}
{% load static %}
{% block title %}Te lo reparo{% endblock %}
{% block header%}Página Principal{% endblock %}
{% block content %}
<div class="card card-solid">
  <div class="card-body pb-0">
{% for noticia in noticias %}
<div class="col-12">
  <div class="card bg-light">
    <div class="row">
      <div class="col-8">
        <div class="card-header text-muted border-bottom-0">
          {{ noticia.Titulo }}
        </div>
        <div class="card-body">
          {{ noticia.Texto }}
          <br><br> 
        </div>
        <div class="card-footer ui-sortable-handle">
          Por: 
          {% if noticia.Autor %}
          {{ noticia.Autor }}
          {% else %}
          Anonimo
          {% endif %}
          <div class="card-tools" style="float: right;">
            {{ noticia.Fmodificacion }}
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-body">
          <img src="{% if noticia.Foto %}{{ noticia.Foto.url }}{% else %}{% static 'logo.png' %}{% endif %}" alt="No se puede cargar la imagen" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
<div class="card-footer">
    <span class="pagination justify-content-center m-0">
        {% if noticias.has_previous %}
            <a href="?page={{ noticias.previous_page_number }}" class="page-item page-link">&laquo; </a>
        {% endif %}

        <span class="current page-link">
            Página {{ noticias.number }} de {{ noticias.paginator.num_pages }}.
        </span>

        {% if noticias.has_next %}
            <a href="?page={{ noticias.next_page_number }}" class="page-item page-link">&raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}